.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aaa69d;

  .contentService {
    width: 90%;
    height: 100%;
    margin: 10px 15px;
    display: flex;
    justify-content: space-around;

    .contentImg {
      width: 40%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .contentdetails {
      width: 60%;
      background-color: #f1f2f6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        width: 50%;
        margin: 10px;
        font-family: var(font-family-sansOpen);
        text-align: center;
      }

      h3 {
        margin: 10px;
        font-family: var(font-family-roboto);
      }

      span {
        color: var(--secondary);
        text-decoration: underline;
      }

      .avisBtn {
        align-self: flex-end;
        margin-top: 1%;
        margin-right: 5%;

        button {
          background-color: var(--secondary);
          color: white;
          padding: 10px 30px;
          border-radius: 10px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

 
}
