.container {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 55%;
    height: 70%;
    font-family: var(--font-family-openSans);
    background: var(--white);
    box-shadow: var(--boxShadow2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    .contentInfo {
      width: 100%;
    }

    .contentLogin {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    label {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
    }

    input {
      border: 1px solid;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 5px;
      width: 100%;
    }


    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
