.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  svg {
    &:hover {
      background-color: #eee;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
  span {
    margin: 0 10px;
  }
}