*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  line-height: inherit;
  list-style: none;
}

body {
  width: 100%;
  font-family: var(--font-family-openSans);
}

#root {
  height: 100%;
}