@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary: #000000;
  --secondary: #d30000;
  --white: #ffffff;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-oprenSans: "Open Sans", sans-serif;
}
