@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary: #000000;
  --secondary: #d30000;
  --white: #ffffff;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-openSans: "Open Sans", sans-serif;
  --boxShadow2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
